SECRET_KEY=smartcivic-dev-2024
MONGO_URI=mongodb://localhost:27017/
DB_NAME=smartcivic
JWT_SECRET=jwt-smartcivic-2024
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=your-app-password
APP_BASE_URL=http://localhost:5000
